<!DOCTYPE html>
<html>
<head>
    <title>Blue Colors</title>
    <style>
        body {
            background-color: #f0f5ff;
            color: #000;
            font-family: Arial, sans-serif;
        }
        
        h1 {
            color: #007bff;
        }
        
        p {
            color: #333;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Blue Colors Page</h1>
    <p>This is an example of a webpage with a blue color scheme.</p>

    <ul>   
        {{ range (.Site.GetPage "section" "ocean").Pages}}
       <li><a href="{{ .Permalink}}">{{ .Title }}</a></li> 
        {{end}}
    </ul>
</body>
</html>